[submodule "code_paper_FusionOMPLSP"]
	path = code_paper_FusionOMPLSP
	url = https://github.com/nikcleju/code_paper_FusionOMPLSP
[submodule "code_paper_IterativeAffineProjections"]
	path = code_paper_IterativeAffineProjections
	url = https://github.com/nikcleju/code_paper_IterativeAffineProjections
[submodule "code_paper_NSTPrec"]
	path = code_paper_NSTPrec
	url = https://github.com/nikcleju/code_paper_NSTPrec
[submodule "code_ECG_BoW_Identif"]
	path = code_ECG_BoW_Identif
	url = https://github.com/scebios-project/code_ECG_BoW_Identif
[submodule "code_paper_PrecKSVD"]
	path = code_paper_PrecKSVD
	url = https://github.com/scebios-project/code_paper_PrecKSVD
